name: build api-dev-proxy

on:
  push:
    branches:
      - main
    paths:
      - 'api-dev-proxy/**'
      - '.github/workflows/api-dev-proxy.yml.yml'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - '.nais/api-dev-proxy.yml'
      - 'Dockerfile'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'
          cache: 'gradle'
      - name: gradle
        run: ./gradlew :api-dev-proxy:build
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: build docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
          dockerfile: Dockerfile
          image_suffix: api-dev-proxy
          docker_context: api-dev-proxy
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deployDev:
    name: deploy to dev
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/api-dev-proxy.yml
          IMAGE: ${{ needs.build.outputs.image }}